.question-page {

  &__wrap {
    display: grid;
    grid-template-columns: 1fr;
    gap: 64px;

    @media (min-width: 1280px) {
      grid-template-columns: 465px 1fr;
      gap: 131px;
    }
  }

  &__text {
    color: $color-grey-navy;
  }

  &__title {
    font-weight: 500;
  }

  &__btns {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
