.button {
  width: 100%;
  font-weight: 500;
  color: $color-white;
  padding: 32px;
  border-radius: 24px;
  background-color: $color-purple;
  box-shadow: 0 16px 40px 0 rgba(143, 160, 193, 0.14);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  margin-top: 32px;

  .dark & {
    box-shadow: 0 16px 40px 0 rgba(49, 62, 81, 0.14);
  }

  &:focus-visible {
    outline: 2px solid $color-white;
  }

  @media (hover: hover) {
    &:hover {
      background-color: rgba($color-purple, 0.5);
    }
  }
}
