.quiz {

  &__wrap {
    display: grid;
    grid-template-columns: 1fr;
    gap: 64px;

    @media (min-width: 1280px) {
      grid-template-columns: 465px 1fr;
      gap: 131px;
    }
  }

  &__text {
    color: $color-grey-navy;
    transition: color 0.3s ease-in-out;

    .dark & {
      color: $color-light-bluish;
    }
  }

  &__title {
    font-weight: 500;
    margin-top: 27px;
  }

  &__btns {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__message {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: $color-red;
    margin-top: 32px;
    transition: color 0.3s ease-in-out;

    .dark & {
      color: $color-white;
    }
  }
}
