.option {

  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    color: $color-dark-navy;
    font-weight: 500;
    padding: 15px 17px;
    background-color: $color-white;
    border-radius: 24px;
    box-shadow: 0 16px 40px 0 rgba(143, 160, 193, 0.14);
    cursor: pointer;
    border: 3px solid transparent;
    transition: all 0.3s ease-in-out; 

    .dark & {
      background-color: $color-navy;
      color: $color-white;
      box-shadow: 0 16px 40px 0 rgba(49, 62, 81, 0.14);
    }

    @media (hover: hover) {
      &:hover {
        .option__variant {
          color: $color-purple;
          background-color: #f6e7ff;
        }
      }
    }

    &.correct {
      border-color: $color-green;

      .option__variant {
        color: $color-white;
        background-color: $color-green;
      }
    }

    &.incorrect {
      border-color: $color-red;

      .option__variant {
        color: $color-white;
        background-color: $color-red;
      }
    }
  }

  &__input:focus-visible {
    ~ .option {
      &__wrap {
        outline: 2px solid $color-white;
      }
    }
  }

  &__input:checked {
    ~ .option {
      &__wrap {
        border-color: $color-purple;

        .option__variant {
          color: $color-white;
          background-color: $color-purple;
        }

        &.correct {
          border-color: $color-green;
    
          .option__variant {
            color: $color-white;
            background-color: $color-green;
          }
        }
    
        &.incorrect {
          border-color: $color-red;
    
          .option__variant {
            color: $color-white;
            background-color: $color-red;
          }
        }
      }
    }
  }

  &__input {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
  }

  &__variant {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    width: 56px;
    min-width: 56px;
    color: $color-grey-navy;
    font-weight: 700;
    background-color: $color-light-grey;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
  }

  &__icon {
    height: 30px;
    width: 30px;
    margin-left: auto;
  }
}
