.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 83px;
  margin-bottom: 85px;

  &__icon {
    padding: 8px;
    background-color: #F6E7FF;
    border-radius: 8px;

    svg {
      height: 40px;
      width: 40px;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 24px;
  }
}
